@import "../../../index.scss";

.pageHeading {
  position: relative;
  margin-bottom: 3rem;

  &::after {
    content: '';
    height: 0.125rem;
    width: 3rem;
    background-color: map-get($colors, grape);
    position: absolute;
    left: 0;
    bottom: -0.25rem;
  }
}

.subtitle {
  color: color(gray, 3);
}
