@import "../../core.scss";

.superHeroHeading {
  @include display;

  position: relative;
  margin-bottom: 4rem;

  > .strategist {
    color: map-get($colors, raspberry);
  }

  > .developer {
    color: map-get($colors, grape);
  }

  &::after {
    content: '';
    height: 0.25rem;
    width: 5rem;
    background-color: map-get($colors, raspberry);
    position: absolute;
    left: 0;
    bottom: -0.25rem;
  }
}

.myName {
  @include title(2, true);
  margin-bottom: 0.5rem;
}

.myTitle {
  margin-bottom: 1rem;
}

.myLinks {
  > li {
    display: flex;
    align-items: center;

    + li {
     margin-top: 1rem;
    }
  }

  a,
  .looksLikeLink {
    @include link-text;
    cursor: pointer;
  }
}

.checkmark {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: drawStroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .1s forwards, fadeOut .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) 1.2s forwards;

  > path {
    stroke: color(mint);
  }
}

@keyframes drawStroke {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  @include body-copy(2, true);

  padding: 0 1rem 4rem;
  border-bottom: 1px solid color(gray, 5);
  overflow: auto;

  @include above-breakpoint-md {
    border-right: 1px solid color(gray, 5);
    border-bottom: none;
    width: 375px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.optionalBreak {
  @include hide-above($breakpoint-sm);
}
