@import '../../core';

.hasTooltip {
  display: inline-flex;
  position: relative;

  &:after {
    visibility: hidden;
    position: absolute;
    padding: 0.25rem;
    font-size: 12px;
    background: rgba(color(black), 0.85);
    color: color(white);
    text-shadow: 0 1px 0 color(black);
    pointer-events: none;
    bottom: 100%;
    left: 50%;
    content: attr(data-tooltip); // Pulls content from `data-tooltip` attribute of element
    transform: translateX(-50%) translateY(0);
    transition: transform .2s ease-out;
    min-width: max-content;
    border-radius: 4px;
  }

  &:hover:after,
  &:focus:after {
    visibility: visible;
    transform: translateX(-50%) translateY(-0.25rem); // Adds movement
  }
}
