@import "./index.scss";

.nav {
  @include body-copy;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
  }

  a {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px solid #FF2D78;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

.superHeroHeading {
  @include display;
}

.heroList {
  li {
    display: flex;

    svg {
      margin-right: 1.5rem;
    }
  }
}

.header {
  padding: 1rem;
  @include body-copy;

  svg {
    width: 2rem;
    height: 2rem;

    @include at-breakpoint-sm {
      width: 3rem;
      height: 3rem;
    }
  }

  @include at-breakpoint-sm {
    padding: 1.5rem;
  };
}

.site {
  width: 100vw;
  height: 100vh;
}
