@import "./index.scss";

.superHeroHeading {
  @include display;

  position: relative;
  margin-bottom: 4rem;

  > .strategist {
    color: map-get($colors, raspberry);
  }

  > .developer {
    color: map-get($colors, grape);
  }

  &::after {
    content: '';
    height: 0.25rem;
    width: 5rem;
    background-color: map-get($colors, raspberry);
    position: absolute;
    left: 0;
    bottom: -0.25rem;
  }
}

.myName {
  @include title(2);
  margin-bottom: 1rem;
}

.myTitle {
  @include body-copy;
  margin-bottom: 1rem;
}

.myLinks {
  > li {
    display: flex;
    align-items: center;

    + li {
     margin-top: 1rem;
    }
  }

  a,
  .looksLikeLink {
    @include link-text;
    cursor: pointer;
  }
}

.checkmark {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;

  > path {
    stroke: color(mint);
  }
}

.header {
  @include body-copy;

  padding: 0 1rem 4rem;
  border-bottom: 1px solid color(gray, 5);
  overflow: auto;

  @include above-breakpoint-md {
    border-right: 1px solid color(gray, 5);
    border-bottom: none;
    width: 375px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.content {
  @include above-breakpoint-md {
    padding-left: calc(375px + 1rem);
    padding: 4rem 1rem 4rem calc(375px + 1rem);
  }
}
