@import './core';
@import './reset';
@import './util.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

@include reset;

html {
  font-size: $font-size-default;
  font-family: $font-body-copy-default;
  color: map-deep-get($colors, gray, 1);
  -webkit-font-smoothing: antialiased;
}
