// Breakpoints based on Stitch Fix viewport metrics. These will transition
// layouts in the "dead zones" between common screen sizes.
// Reference: https://github.com/stitchfix/viewport-metrics
$breakpoint-sm: 560px;
$breakpoint-md: 900px;
$breakpoint-lg: 1140px;
$breakpoint-xl: 1730px;

@mixin above-breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin below-breakpoint($breakpoint) {
  @media screen and (max-width: $breakpoint - 1px) {
    @content;
  }
}

@mixin between-breakpoint($min-breakpoint, $max-breakpoint) {
  @media screen and (min-width: $min-breakpoint) and (max-width: $max-breakpoint - 1px) {
    @content;
  }
}

@mixin above-breakpoint-sm {
  @include above-breakpoint($breakpoint-sm) {
    @content;
  }
}

@mixin above-breakpoint-md {
  @include above-breakpoint($breakpoint-md) {
    @content;
  }
}

@mixin above-breakpoint-lg {
  @include above-breakpoint($breakpoint-lg) {
    @content;
  }
}

@mixin above-breakpoint-xl {
  @include above-breakpoint($breakpoint-xl) {
    @content;
  }
}

@mixin below-breakpoint-sm {
  @include below-breakpoint($breakpoint-sm) {
    @content;
  }
}

@mixin below-breakpoint-md {
  @include below-breakpoint($breakpoint-md) {
    @content;
  }
}

@mixin below-breakpoint-lg {
  @include below-breakpoint($breakpoint-lg) {
    @content;
  }
}

@mixin below-breakpoint-xl {
  @include below-breakpoint($breakpoint-xl) {
    @content;
  }
}

@mixin hide-below($breakpoint) {
  @include below-breakpoint($breakpoint) {
    display: none;
  };
}

@mixin hide-above($breakpoint) {
  @include above-breakpoint($breakpoint) {
    display: none;
  };
}
