// Breakpoints based on Stitch Fix viewport metrics. These will transition
// layouts in the "dead zones" between common screen sizes.
// Reference: https://github.com/stitchfix/viewport-metrics
$breakpoint-sm: 560px;
$breakpoint-md: 900px;
$breakpoint-lg: 1140px;
$breakpoint-xl: 1730px;

// Legacy breakpoints to replace FESK media queries. These breakpoints
// transition layouts at device sizes, which often results in serving poorly
// designed layouts to devices near but not on the breakpoint. Use these
// variables with the above-breakpoint and below-breakpoint mixins only to aid
// migration away from FESK — do not use them in new designs.
$breakpoint-legacy-xxs: 360px;
$breakpoint-legacy-xs: 480px;
$breakpoint-legacy-sm: 768px;
$breakpoint-legacy-md: 993px;
$breakpoint-legacy-lg: 1200px;

@mixin above-breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin below-breakpoint($breakpoint) {
  @media screen and (max-width: $breakpoint - 1px) {
    @content;
  }
}

@mixin between-breakpoint($min-breakpoint, $max-breakpoint) {
  @media screen and (min-width: $min-breakpoint) and (max-width: $max-breakpoint - 1px) {
    @content;
  }
}

@mixin above-breakpoint-sm {
  @include above-breakpoint($breakpoint-sm) {
    @content;
  }
}

@mixin above-breakpoint-md {
  @include above-breakpoint($breakpoint-md) {
    @content;
  }
}

@mixin above-breakpoint-lg {
  @include above-breakpoint($breakpoint-lg) {
    @content;
  }
}

@mixin above-breakpoint-xl {
  @include above-breakpoint($breakpoint-xl) {
    @content;
  }
}

@mixin below-breakpoint-sm {
  @include below-breakpoint($breakpoint-sm) {
    @content;
  }
}

@mixin below-breakpoint-md {
  @include below-breakpoint($breakpoint-md) {
    @content;
  }
}

@mixin below-breakpoint-lg {
  @include below-breakpoint($breakpoint-lg) {
    @content;
  }
}

@mixin below-breakpoint-xl {
  @include below-breakpoint($breakpoint-xl) {
    @content;
  }
}

@mixin hide-below($breakpoint) {
  @include below-breakpoint($breakpoint) {
    display: none;
  };
}

@mixin hide-above($breakpoint) {
  @include above-breakpoint($breakpoint) {
    display: none;
  };
}
