// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type

// Style Reset //

// This style reset is the foundation of our maintainable, cross-app style system.
// - It provides a consistent, easey to understand baseline in every app.
// - It creates an environment where we can code additive styles. Additive
// styles (where we add rules as specificity increases, and avoid unsetting
// rules) are easier to write and maintain.

// Editing and maintaining the reset

// - Use the minimal specificity possible (global element selectors) to allow
// app stylesheets to override values easily. Do not use any selectors with more
// specificity than a single class.
// - Only add resets for the browsers we support; in the case of browser
// normalization, note which browser is being normalized.
// - Only reset styles; avoid adding "universal" visual styles (e.g., link
// colors or a base button). These hurt more than they help.
// - Write selectors containing unprefixed and vendor-prefixed pseudo selectors
// separately. Unprefixed and vendor-prefixed selectors can't be combined.
// https://stackoverflow.com/a/16982510/7133471
// - Exercise caution when unsetting form element styling. Elements like
// `select` have browser specific styles and behavior that are notoriously
// difficult to override.

// TODO: Write ADR on allowing select elements to retain default styling.
// TODO: Write ADR on not resetting anything with > class level specificity.

@mixin reset {
  // Set modern box sizing on all elements
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Text and sectioning elements //

  html {
    line-height: 1;

    // Prevent text size change on orientation change in mobile browsers
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }

  // Normalize display value for IE11
  main {
    display: block;
  }

  figure {
    margin: 0;
  }

  // Normalize display value for Edge, IE11, and Firefox
  details {
    display: block;
  }

  // Normalize display value for Edge, IE11, and Firefox, showing the ▸ icon
  summary {
    display: list-item;
  }

  // Normalize display value for IE11
  template {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  blockquote,
  p {
    margin: 0;
    line-height: inherit;
  }

  pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
  }

  hr {
    margin: 0;
    border: 0;
  }

  dd,
  dl,
  dt,
  li,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    vertical-align: baseline;
  }

  th {
    text-align: left;
    font-weight: inherit;
  }

  caption {
    text-align: left;
  }

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  b,
  strong {
    font-weight: inherit;
  }

  address,
  cite,
  dfn,
  em,
  i,
  var {
    font-style: inherit;
  }

  small {
    font-size: 100%;
  }

  q {
    quotes: none;

    &::before,
    &::after {
      content: '';
    }
  }

  del,
  ins,
  u {
    text-decoration: none;
  }

  mark {
    color: inherit;
    background: none;
  }

  code,
  kbd,
  samp,
  tt {
    font-family: inherit;
    font-size: inherit;
  }

  // Prevent sub, sup from affecting line-height. Reference: gist.github.com/413930
  sub,
  sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
  }

  sup {
    top: -0.05em;
  }

  sub {
    bottom: -0.05em;
  }

  abbr[title] {
    cursor: help;
  }

  // Replaced Elements //

  // Give replaced elements commonly-desired block layout
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    display: block;
  }

  embed,
  iframe,
  object {
    border: 0;
  }

  // Limit elements with intrinsic size to their container's width (a responsive
  // design standard)
  img,
  video {
    max-width: 100%;
  }

  // Forms //

  // Remove all search decoration in Safari
  ::-webkit-search-cancel-button,
  ::-webkit-search-decoration,
  ::-webkit-search-results-button,
  ::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  // Allow file upload buttons to be styled in iOS and Safari
  // NOTE: the file upload buttons cannot be styled in non-chromium browsers
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
    cursor: pointer;
  }

  ::placeholder {
    font: inherit;
  }

  form {
    margin: 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    // Override min-content restriction for more commonly-expected behavior
    min-width: 0;
  }

  legend {
    padding: 0;

    // Normalize text wrapping in Edge and IE11
    display: table;
    max-width: 100%;
    white-space: normal;

    // Normalize color inheritance from fieldset elements in IE11
    color: inherit;
  }

  label[for] {
    cursor: pointer;
  }

  button,
  input,
  optgroup,
  textarea {
    margin: 0;
    padding: 0;
  }

  button,
  input,
  textarea {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
  }

  button,
  select {
    text-transform: inherit;
  }

  button,
  input {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    background: transparent;

    // Normalize ability to select button and input text
    user-select: text;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    // Allow clickable input types to be styled in iOS and Safari
    -webkit-appearance: button;
  }

  // Normalize the style of increment and decrement buttons in Chrome
  [type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    height: auto;
    cursor: pointer;
  }

  // Normalize the style of search fields and allow them to be styled
  [type='search'] {
    -webkit-appearance: textfield;
  }

  // Reset for disabled form controls
  [disabled] {
    cursor: default;

    // Normalize disabled button and input styling in Safari
    color: currentColor;
  }

  // Normalize vertical alignment in Chrome, Firefox, and Opera
  progress {
    vertical-align: baseline;
  }

  // Remove default vertical scrollbar in IE11
  textarea {
    overflow: auto;
  }
}

// stylelint-enable
