.article-content {
  color: color(gray, 1);
  h1, .as-h1 { @include title(1, true); }
  h2, .as-h2 { @include title(2, true); }
  h3, .as-h3 { @include title(3, true); }
  h4, .as-h4 { @include title(4, true); }
  h5, .as-h5 { @include title(4, false); }
  p, .as-p { @include body-copy(2, true); max-width: 42.5rem; }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 2rem;
  }

  p + p,
  h1 + p,
  h1 + h2 { margin-top: 1rem; }

  h2 + h3,
  h2 + p { margin-top: 0.75rem; }

  h3 + h4,
  h3 + p { margin-top: 0.5rem; }

  h4 + h5,
  h4 + p { margin-top: 0.25rem; }

    a {
      @include link-text;
    }

  ol > li,
  ul > li {
    list-style: inside;
    display: list-item;
  }

  blockquote,
  ul,
  ol,
  dl {
    @include body-copy(1);
    margin: 2rem auto;
  }

  dt {
    font-weight: 600;
  }

  dd + dd {
    margin-top: 0.5rem;
  }

  blockquote {
    position: relative;
    padding-left: 1rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom:0;
      left: 0;
      width: 0.25rem;
      background-color: color(gray, 5);
    }
  }

  strong,
  em {
    color: color(plum);
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  .subtle {
    color: color(gray, 3);
  }

  .eyebrow {
    @include eyebrow(1);
  }

  .page-heading {
    position: relative;
    margin-bottom: 3rem;
    padding-top: 4rem;
    margin-top: 0;

    &::after {
      content: '';
      height: 0.125rem;
      width: 3rem;
      background-color: map-get($colors, grape);
      position: absolute;
      left: 0;
      bottom: -0.25rem;
      animation: slideIn 0.3s ease-out;
    }
  }

  .subtitle {
    color: color(gray, 3);
  }

  .breadcrumb {
    margin-top: 0.25rem;
    
    a {
      color: color(gray, 3);
      border: 0;
      padding: 0.25rem;
      display: inline-flex;
      text-decoration: underline;
    }
  }

  .resume-work-history-item {
    

    .resume-work-history-heading {

    }
  
    .resume-work-history-timeframe {
      // @include body-copy(2, true);
    }
  }

}

@keyframes slideIn {
  0%   { left: 5rem; }
  75%  { left: -.5rem; }
  100% { left: 0; }
}
