$font-size-default: 16px;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Ovo', serif;
$font-body-copy-default: $font-family-sans-serif;
$font-title-default: $font-family-serif;

$font-sizes: (
  display: (
    1: 3.25rem
  ),
  title: (
    1: 2.625rem,
    2: 2.125rem,
    3: 1.75rem,
    4: 1.5rem
  ),
  eyebrow: (
    1: 1rem,
  ),
  body-copy: (
    1: 1.25rem,
    2: 1.125rem
  )
);

$line-heights: (
  display: (
    1: 3.75rem
  ),
  title: (
    1: 3.25rem,
    2: 2.5rem,
    3: 2.25rem,
    4: 2rem
  ),
  eyebrow: (
    1: 1rem,
  ),
  body-copy: (
    1: 1.875rem,
    2: 1.75rem
  )
);

$colors: (
  gray: (
    1: #414141,
    2: #5E5E5E,
    3: #777777,
    4: #ADADAD,
    5: #DEDEDE,
  ),
  white: #FFFFFF,
  black: #000000,
  raspberry: #FF2D78,
  grape: #8850E4,
  mint: #24C26D,
  plum: #51357E,
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function color($color...) {
  @return map-deep-get($colors, $color...);
}
