@import '../../index';

.nav {
  @include body-copy;

  position: relative;
  z-index: 2;
  background-color: color(white);
  margin-bottom: 2rem;

  @include above-breakpoint-md {
    margin-bottom: 4rem;
  };

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
  }

  a {
    @include link-text;

    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
